@use 'navbar';
@use   'hero-section';
@use   'about-section';
@use   'gallery-section';
@use   'expertise-section';
@use   'lightbox';
@use    'footer';
@use   'contact-section';



*, *::before, *::after {
  box-sizing: border-box;
}
  // Remove existing body styles and modify:
  body {
    margin: 0;
    padding: 0;
    overflow-x: none;
    width: 100%;
  }


html {
    scroll-behavior: smooth;
  }