<section id='about' class='about' aria-labelledby='about-heading'>
  <div class='about__container'>
    <div class='about__content'>
      <h2 id='about-heading' class='about__heading'>
        <span class='about__heading-text'>What's your super power?</span>
        <span class='about__heading-line'></span>
      </h2>

      <p class='about__description'>
        With 5 years of dedication to the art of sushi-making, I preserve
        Tokyo's culinary heritage while innovating modern techniques. Trained
        under Jiro Ono, I bring Michelin-starred precision to every creation.
      </p>

      <ul class='about__stats'>
        <li class='about__stat'>
          <span class='about__stat-number'>10K+</span>
          <span class='about__stat-label'>Nigiri Crafted</span>
        </li>
        <li class='about__stat'>
          <span class='about__stat-number'>150+</span>
          <span class='about__stat-label'>Apprentices Trained</span>
        </li>
      </ul>
    </div>

    <div class='about__image-container'>
      <div class='about__image-frame'>
        <img
          src='images/sk-banner.png'
          alt='Master Yamamoto preparing sushi'
          class='about__image'
        />
      </div>
    </div>
  </div>
</section>
<section id='heritage' class='about about--alt'>
  <div class='about__container'>
    <div class='about__content'>
      <h2 class='about__heading'>
        <span class='about__heading-text'>Chef Z. Kandemiri</span>
        <span class='about__heading-line'></span>
      </h2>

      <p class='about__description'>
        Trained in South Africa’s vibrant Western Cape, I uphold cooking
        techniques rooted in the 17th-century fusion of indigenous, Dutch, and
        Malay culinary traditions.My repertoire includes 15 ancestral methods
        preserved through generations of community elders, from slow-cooked
        potjiekos stews to Cape Malay bobotie and fire-roasted braai techniques.
      </p>

      <div class='about__timeline'>
        <div class='timeline-item'>
          <div class='timeline-year'>2005</div>
          <div class='timeline-content'>Began apprenticeship under Master Sushi
            Saki</div>
        </div>
        <div class='timeline-item'>
          <div class='timeline-year'>2012</div>
          <div class='timeline-content'>Certified by Sushi Association</div>
        </div>
      </div>
    </div>

    <div class='about__image-container'>
      <div class='about__image-frame about__image-frame--vintage'>
        <img
          src='images/sushi-chef-1.jpg'
          alt='Traditional sushi tools'
          class='about__image'
        />
      </div>
    </div>
  </div>
</section>
<section id='experience' class='about about--reverse'>
  <div class='about__container'>
    <div class='about__image-container'>
      <div class='about__image-frame about__image-frame--modern'>
        <img
          src='images/sushi kings-07.png'
          alt='Modern sushi preparation'
          class='about__image'
        />
      </div>
    </div>

    <div class='about__content'>
      <h2 class='about__heading'>
        <span class='about__heading-text'>Contemporary Mastery</span>
        <span class='about__heading-line'></span>
      </h2>

      <p class='about__description'>
        While honoring tradition, I've pioneered 8 modern techniques enhancing
        flavor extraction and presentation. Collaborating with food scientists,
        we've developed sustainable seafood preservation methods.
      </p>

      <ul class='about__innovations'>
        <li class='innovation-item'>
          <i class='fa-solid fa-temperature-low innovation-icon'></i>
          <span>Cryo-seasoning technology</span>
        </li>
        <li class='innovation-item'>
          <i class='fa-solid fa-leaf innovation-icon'></i>
          <span>Bio-degradable packaging</span>
        </li>
      </ul>
    </div>
  </div>
</section>