<section id="hero" class="hero" aria-label="Master Sushi Chef Introduction">
  <div class="hero__content">
    <h1 class="hero__title">
      <span class="hero__title-line">Make Everday</span>
      <span class="hero__title-line hero__title-line--accent">A Sushi Day</span>
    </h1>
    
    <div class="hero__separator"></div>

    <p class="hero__subtitle">Crafting Edible Art Through Centuries-Old Tradition</p>

    <div class="hero__cta-group">
      <LinkTo @route="gallery" class="hero__cta hero__cta--primary">
        View Masterpieces
      </LinkTo>
      <LinkTo @route="about" class="hero__cta hero__cta--secondary">
        My Philosophy
      </LinkTo>
    </div>
  </div>

  <div class="hero__ornament"></div>
</section>